{% extends 'back.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ annonce.location }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ annonce.type }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ annonce.exp }}</td>
            </tr>
            <tr>
                <th>Salaire minimal</th>
                <td>{{ annonce.salairemin }}</td>
            </tr>
            <tr>
                <th>Salaire maximale</th>
                <td>{{ annonce.salairemax }}</td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td>{{ annonce.qualification }}</td>
            </tr>
            <tr>
                <th>Sexe:</th>
                <td>{{ annonce.sex }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>{{ annonce.eduexp }}</td>
            </tr>
            <tr>
                <th>responsibilities</th>
                <td>{{ annonce.responsibilities }}</td>
            </tr>
            
            <tr>
                <th>Country</th>
                <td>{{ annonce.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ annonce.city }}</td>
            </tr>
            <tr>
                <th>Expiré le</th>
                <td>{{ annonce.expire ? annonce.expire|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ annonce.categorie }}</td>
            </tr>
            <tr>
                <th>Autres</th>
                <td>{{ annonce.autres }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annonce_back_index') }}">Retourner a liste des annonces</a>

    <a href="{{ path('annonce_back_edit', {'id': annonce.id}) }}">Modifier</a>

    {{ include('annonce_back/_delete_form.html.twig') }}
{% endblock %}
