{% extends 'base.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}
    <h1>Demande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Exp</th>
                <th>Description</th>
                <th>Expire</th>
                <th>Type</th>
                <th>Salairemin</th>
                <th>Salairemax</th>
                <th>Qualification</th>
                <th>Sex</th>
                <th>City</th>
                <th>Categorie</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.titre }}</td>
                <td>{{ demande.exp }}</td>
                <td>{{ demande.description }}</td>
                <td>{{ demande.expire ? demande.expire|date('Y-m-d') : '' }}</td>
                <td>{{ demande.type }}</td>
                <td>{{ demande.salairemin }}</td>
                <td>{{ demande.salairemax }}</td>
                <td>{{ demande.qualification }}</td>
                <td>{{ demande.sex }}</td>
                <td>{{ demande.city }}</td>
                <td>{{ demande.categorie }}</td>
                <td>{{ demande.createdAt ? demande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_demande_mobile_show', {'id': demande.id}) }}">show</a>
                    <a href="{{ path('app_demande_mobile_edit', {'id': demande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demande_mobile_new') }}">Create new</a>
{% endblock %}
