{% extends 'base2.html.twig' %}
{% block head %} {% block stylesheet %} {{ parent() }}{% endblock %} {% endblock %}
{% block body %}
    {% block con %}    {{ parent() }} {% endblock %}
<div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-area">
                    <h1>Publier Offre d'emploi</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Publier Offre d'emploi</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-form">
                    <form action="#">
                        <input type="text" placeholder="Enter Keywords">
                        <button><i data-feather="search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">
                {{form_start(annonceForm , {'attr' : {'class' :'dashboard-form job-post-form'}})}}
                  <div class="dashboard-section basic-info-input">
                    <h4><i data-feather="user-check"></i>Postulez Offre</h4>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Titre d'annonce</label>
                      <div class="col-md-9">
                        {{ form_widget(annonceForm.titre, {'attr': {'class': 'form-control' , } }) }}
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-md-3 col-form-label">Résume d'emploi</label>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                            {% set placeholder ='app.user.job' %}
                             {{ form_widget(annonceForm.categorie, {'attr': {'class': 'form-control' ,'placeholder' : placeholder} }) }}
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                             {{ form_widget(annonceForm.city, {'attr': {'class': 'form-control' ,'placeholder' : placeholder} }) }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                            {{ form_widget(annonceForm.type, {'attr': {'class': 'form-control' ,'placeholder' : placeholder} }) }}

                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                             {{ form_widget(annonceForm.exp, {'attr': {'class': 'form-control' ,'placeholder' : placeholder} }) }}

                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                             {{ form_widget(annonceForm.salairemin, {'attr': {'class': 'form-control' ,'placeholder' : 'Salaire minimal'} }) }}
                             {{ form_widget(annonceForm.salairemax, {'attr': {'class': 'form-control' ,'placeholder' : 'Salaire Maximal'} }) }}

                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                             {{ form_widget(annonceForm.qualification, {'attr': {'class': 'form-control' ,'placeholder' : placeholder} }) }}
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                            {{ form_widget(annonceForm.sex, {'attr': {'class': 'form-control' ,'placeholder' : placeholder} }) }}
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                            {{ form_widget(annonceForm.expire, {'attr': {'class': 'form-control' ,'placeholder' : placeholder} }) }}
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-md-3 col-form-label">Job Description</label>
                      <div class="col-md-9">
                             {{ form_widget(annonceForm.description, {'attr': {'class': 'tinymce-editor tinymce-editor-1' ,'placeholder' : placeholder} }) }}
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-md-3 col-form-label">Responsibilities</label>
                      <div class="col-md-9">
                             {{ form_widget(annonceForm.responsibilities, {'attr': {'class': 'tinymce-editor tinymce-editor-1'} }) }}
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-md-3 col-form-label">Education</label>
                      <div class="col-md-9">
                             {{ form_widget(annonceForm.eduexp, {'attr': {'class': 'tinymce-editor tinymce-editor-1'} }) }}
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-md-3 col-form-label">Other Benefits</label>
                      <div class="col-md-9">
                             {{ form_widget(annonceForm.autres, {'attr': {'class': 'tinymce-editor tinymce-editor-1'} }) }}
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label"></label>
                      <div class="col-md-9">
                             {{ form_widget(annonceForm.publier, {'attr': {'class': 'button'} }) }}
                      </div>
                    </div>
                  </div>
                {{ form_end(annonceForm)}}
              </div>
                {%block sidebar%}    {{ parent() }}
                {% endblock %}
            </div>
            </div>
        </div>
    </div>
</div>
    {% block action %} {{ parent() }} {% endblock %}
    {% block footer %} {{ parent() }} {% endblock %}




{% endblock %}