{% extends 'base.html.twig' %}
{% block head %} {% block stylesheet %} {{ parent() }}{% endblock %} {% endblock %}
{% block body %}
    {% block con %}    {{ parent() }} {% endblock %}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Modifier Demande D'emploi</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Modifier Demande d'emploi</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-form">
                        <form action="#">
                            <input type="text" placeholder="Enter Keywords">
                            <button><i data-feather="search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
        <div class="row no-gliters">
            <div class="col">
                <div class="dashboard-container">
                    <div class="dashboard-content-wrapper">
                        <div class="manage-job-container">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Demandes</th>
                                    <th>Date Limite</th>
                                    <th>Etat</th>
                                    <th class="action">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="job-items">
                                    <td class="title">
                                        <h5><a href="{{ path('Myannonce_show', {id: app.user.annonces[0].id}) }}"> {{app.user.annonces[0].titre}}</a></h5>
                                        <div class="info">
                                            <span class="office-location"><a href="#"><i data-feather="map-pin"></i>{{app.user.annonces[0].city}}</a></span>
                                            <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>{{app.user.annonces[0].type}}</a></span>
                                        </div>
                                    </td>
                                    <td class="application"><a href="#">6 Application(s)</a></td>
                                    <td class="deadline">{{app.user.annonces[0].expire}}</td>
                                    <td class="status active">Active</td>
                                    <td class="action">
                                        <a href="#" class="preview" title="Preview"><i data-feather="eye"></i></a>
                                        <a href="#" class="edit" title="Edit"><i data-feather="edit"></i></a>
                                        <a href="#" class="remove" title="Delete"><i data-feather="trash-2"></i></a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    {%block sidebar%}    {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block action %} {{ parent() }} {% endblock %}
    {% block footer %} {{ parent() }} {% endblock %}




{% endblock %}