{% extends 'base.html.twig' %}
{% block head %} {% block stylesheet %} {{ parent() }}{% endblock %} {% endblock %}
{% block body %}
{% block con %}    {{ parent() }} {% endblock %}

  <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Commentaires</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Post</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Modifier Commentaire</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-form">
                        <form action="#">
                            <input type="text" placeholder="Enter Keywords">
                            <button><i data-feather="search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
        <div class="row no-gliters">
            <div class="col">
                <div class="dashboard-container">
                    <div class="dashboard-content-wrapper">
                        <div class="job-list">
                                        
                                            <img src="{{ asset('Upload/')}}{{ post.image }}" width="50%" alt="">
                                        
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html" style="text-align: center !important;">{{ post.description}} </a></h4>
                                                <div class="info">
                                                </div>
                                            </div>
                                            <div class="more">

                                                <p class="deadline"> Date: {{ post.dateP ? post.dateP|date('Y-m-d') : '' }}</p>
                                            </div>
                                        </div>
                                    </div><br><br>
                    Comments :<HR>
                    {% for c in comment %}
                        <div class="job-filter-result">
                            <div class="job-list">

                                <div class="body">
                                    <div class="content">
                                        <h4><a href="job-details.html" style="text-align: center !important;">{{ c.contenu}} </a></h4>
                                        <div class="info">
                                        </div>
                                    </div>
                                    <div class="more">
                                        <a href="{{ path('comment_delete', {'id': c.idCommentaire,'idp': post.idPost}) }}" class="button" >supprimer</a><br><br>
                                        <a href="{{ path('app_commentaire_edit', {'idCommentaire': c.idCommentaire,'idp': post.idPost}) }}" class="button">Modifier</a>
                                        <p class="deadline"> Date: {{ post.dateP ? post.dateP|date('Y-m-d') : '' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
      


<br><br>

    <h4> Commentez_Vous : </h4><HR>
    {{ form_start(form, { 'attr': {'class': 'contact_form'} })  }}

    <div class="col-sm-12">
        <div class="form-group">
            Commentaire :
            {{ form_widget(form.contenu, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.contenu) }}
       </div>
    </div>
    <input type="submit" value="Enregistrer" class="button" formnovalidate />

    {{ form_end(form) }}
  </div>
                    {% block sidebar %}    {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block action %} {{ parent() }} {% endblock %}
    {% block footer %} {{ parent() }} {% endblock %}




{% endblock %}