{% extends 'base2.html.twig' %}
{% block head %} {% block stylesheet %} {{ parent() }}{% endblock %} {% endblock %}
{% block body %}
	{% block con %}    {{ parent() }} {% endblock %}




<div class="alice-bg section-padding-bottom">
	<div class="container no-gliters">
		<div class="row no-gliters">
			<div class="col">
				<div class="dashboard-container">
					<div class="dashboard-content-wrapper">
							<div class="row">
								<div class="col-12">
									<h1>Messagerie</h1>
									<h2>Boîte de réception</h2>
									<p>Vous avez reçu
										{{ app.user.received|length }}
										messages</p>
								</div>
								<div class="col-3">De</div>
								<div class="col-3">Sujet</div>
								<div class="col-3">Date</div>
								<div class="col-3"></div>
								{% for message in app.user.received %}
									{% set bold = "" %}
									{% if message.isRead == 0 %}
										{% set bold = "fw-bold" %}
									{% endif %}

									<div class="col-3 {{bold}}">{{ message.sender.email }}</div>
									<div class="col-3 {{bold}}">
										<a href="{{ path("read", {id: message.id}) }}">{{ message.title }}</a>
									</div>
									<div class="col-3 {{bold}}">{{ message.createdAt|date }}</div>
									<div class="col-3">

									</div>
								{% endfor %}


								<div class="col">
									<a href="{{path("send")}}" class="btn btn-primary">Envoyer un message</a>
								</div>
								<a href="{{ path("message") }}" class="button">Accueil</a>
								<a href="{{ path("received") }}" class="button">Boîte de réception</a>
								<a href="{{ path("message") }}" class="button">Eléments envoyés</a>

							</div>
					</div>
					{%block sidebar%}    {{ parent() }}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>








	{% block action %} {{ parent() }} {% endblock %}
	{% block footer %} {{ parent() }} {% endblock %}




{% endblock %}
