<!DOCTYPE html>
<html lang="zxx" class="js">
<!-- Mirrored from dashlite.net/demo1/crm/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Apr 2022 15:47:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ asset('back/images/favicon.png') }}">
    <title>Dashboard | CRM | DashLite Admin Template</title>
    <link rel="stylesheet" href="{{ asset('back/assets/css/dashlite6e0e.css?ver=3.0.0') }}">
    <link id="skin-default" rel="stylesheet" href="{{ asset('back/assets/css/theme6e0e.css?ver=3.0.0') }}">

</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">

<div class="nk-app-root">
    <div class="nk-main ">
        <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-menu-trigger">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                        <em class="icon ni ni-arrow-left"></em>
                    </a>
                    <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
                       data-target="sidebarMenu">
                        <em class="icon ni ni-menu"></em>
                    </a>
                </div>
                <div class="nk-sidebar-brand">
                    <a href="https://dashlite.net/demo1/index.html" class="logo-link nk-sidebar-logo">
                        <img class="logo-light logo-img" src="{{ asset('back/images/logo.png') }}"
                             srcset="{{ asset('back/demo1/images/logo2x.png')}} 2x" alt="logo">
                        <img class="logo-dark logo-img" src="{{ asset('back/images/logo-dark.png') }}"
                             srcset="{{ asset('back/demo1/images/logo-dark2x.png')}} 2x" alt="logo-dark">
                    </a>
                </div>
            </div>
            <div class="nk-sidebar-element nk-sidebar-body">
                <div class="nk-sidebar-content">
                    <div class="nk-sidebar-menu" data-simplebar>
                        <ul class="nk-menu">
                            <li class="nk-menu-item">
                                <a href="/user/back" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-dashboard-fill">

                                            </em>
                                        </span>
                                    <span class="nk-menu-text">Utilisateurs</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/offre/back" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-dashboard-fill">

                                            </em>
                                        </span>
                                    <span class="nk-menu-text">Offres</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/postule/back" class="nk-menu-link">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-user-list-fill">

                                            </em>
                                        </span>
                                    <span class="nk-menu-text">Postule</span>
                                </a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="/demande/back" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-cart-fill">

                                            </em>
                                        </span>
                                    <span class="nk-menu-text">Demandes</span>
                                </a>
                             
                            </li>
                             <li class="nk-menu-item has-sub">
                                <a href="/postule/demande/back" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-cart-fill">

                                            </em>
                                        </span>
                                    <span class="nk-menu-text">Postule demandes</span>
                                </a>
                             
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="/messages/back" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-tranx"></em>
                                        </span>
                                    <span class="nk-menu-text">Messages</span>
                                </a>
                        
                            </li>
                             <li class="nk-menu-item has-sub">
                                <a href="/test" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-tranx"></em>
                                        </span>
                                    <span class="nk-menu-text">Certifications</span>
                                </a>
                        
                            </li>
                             <li class="nk-menu-item has-sub">
                                <a href="/question" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-tranx"></em>
                                        </span>
                                    <span class="nk-menu-text">Questions</span>
                                </a>
                        
                            </li>

                            <li class="nk-menu-item has-sub">
                                <a href="/choix" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-tranx"></em>
                                        </span>
                                    <span class="nk-menu-text">Choix</span>
                                </a>
                        
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="/post/back" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-task-fill-c"></em>
                                        </span>
                                    <span class="nk-menu-text">Post</span>
                                </a>
                                
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="/commentaire/back" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-task-fill-c"></em>
                                        </span>
                                    <span class="nk-menu-text">Commentaire</span>
                                </a>
                                
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="/entretien/back" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon">
                                            <em class="icon ni ni-task-fill-c"></em>
                                        </span>
                                    <span class="nk-menu-text">Entretien</span>
                                </a>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-wrap ">
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1"><a href="#"
                                                                        class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                        class="icon ni ni-menu"></em></a></div>
                        <div class="nk-header-brand d-xl-none"><a href="https://dashlite.net/demo1/index.html"
                                                                  class="logo-link"><img class="logo-light logo-img" src="{{ asset('back/images/logo.png') }}"
                                                                                         srcset="{{ asset('back/demo1/images/logo2x.png')}} 2x" alt="logo"><img class="logo-dark logo-img"
                                                                                                                                              src="{{ asset('back/images/logo-dark.png') }}" srcset=" {{ asset('back/demo1/images/logo-dark2x.png')}} 2x"
                                                                                                                                              alt="logo-dark"></a></div>
                        <div class="nk-header-news d-none d-xl-block">
                            <div class="nk-news-list"><a class="nk-news-item" href="#">
                                    <div class="nk-news-icon"><em class="icon ni ni-card-view"></em></div>
                                    <div class="nk-news-text"><em class="icon ni ni-external"></em>
                                    </div>
                                </a></div>
                        </div>
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown language-dropdown d-none d-sm-block me-n1"><a href="#"
                                                                                                  class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                        <div class="quick-icon border border-light"><img class="icon"
                                                                                         src="{{ asset('back/images/flags/english-sq.png') }}" alt=""></div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-s1">
                                        <ul class="language-list">
                                            <li><a href="#" class="language-item"><img
                                                            src="{{ asset('back/images/flags/english.png') }}" alt=""
                                                            class="language-flag"><span
                                                            class="language-name">English</span></a></li>
                                            <li><a href="#" class="language-item"><img
                                                            src="{{ asset('back/images/flags/spanish.png') }}" alt=""
                                                            class="language-flag"><span
                                                            class="language-name">Español</span></a></li>
                                            <li><a href="#" class="language-item"><img
                                                            src="{{ asset('back/images/flags/french.png') }}" alt=""
                                                            class="language-flag"><span
                                                            class="language-name">Français</span></a></li>
                                            <li><a href="#" class="language-item"><img
                                                            src="{{ asset('back/images/flags/turkey.png') }}" alt=""
                                                            class="language-flag"><span
                                                            class="language-name">Türkçe</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle"
                                                                      data-bs-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                            <div class="user-info d-none d-md-block">
                                                <div class="user-status">Administrator</div>
                                                <div class="user-name dropdown-indicator">Abu Bin Ishityak</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar"><span>AB</span></div>
                                                <div class="user-info"><span class="lead-text">Abu Bin
                                                            Ishtiyak</span><span
                                                            class="sub-text">info@softnio.com</span></div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="https://dashlite.net/demo1/user-profile-regular.html"><em
                                                                class="icon ni ni-user-alt"></em><span>View
                                                                Profile</span></a></li>
                                                <li><a href="https://dashlite.net/demo1/user-profile-setting.html"><em
                                                                class="icon ni ni-setting-alt"></em><span>Account
                                                                Setting</span></a></li>
                                                <li><a href="https://dashlite.net/demo1/user-profile-activity.html"><em
                                                                class="icon ni ni-activity-alt"></em><span>Login
                                                                Activity</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign
                                                                out</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">{% block title %} {% endblock %}</h3>
                                        <div class="nk-block-des text-soft">
                                        </div>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                                                                                          class="btn btn-icon btn-trigger toggle-expand me-n1"
                                                                                          data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">

                                                    <li class="nk-block-tools-opt"><a href="#"
                                                                                      class="btn btn-primary"><em
                                                                    class="icon ni ni-reports"></em><span>Reports</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% block body %} {% endblock %}
                    </div>
                </div>
            </div>
            <div class="nk-footer">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <div class="nk-footer-copyright"> &copy; 2022 DashLite. Template by <a
                                    href="https://softnio.com/" target="_blank">Softnio</a></div>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item dropup"><a href="#"
                                                               class="dropdown-toggle dropdown-indicator has-indicator nav-link"
                                                               data-bs-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                        <ul class="language-list">
                                            <li><a href="#" class="language-item"><span
                                                            class="language-name">English</span></a></li>
                                            <li><a href="#" class="language-item"><span
                                                            class="language-name">Español</span></a></li>
                                            <li><a href="#" class="language-item"><span
                                                            class="language-name">Français</span></a></li>
                                            <li><a href="#" class="language-item"><span
                                                            class="language-name">Türkçe</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item"><a href="#" data-bs-toggle="modal" data-bs-target="#region"
                                                        class="nav-link"><em class="icon ni ni-globe"></em><span class="ms-1">Select
                                                Region</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</a>
<script src="{{ asset('back/assets/js/bundle6e0e.js?ver=3.0.0') }}"></script>
<script src="{{ asset('back/assets/js/demo-settings6e0e.js?ver=3.0.0') }}"></script>
<script src="{{ asset('back/assets/js/charts/chart-crm6e0e.js?ver=3.0.0') }}"></script>

</body>
<!-- Mirrored from dashlite.net/demo1/crm/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Apr 2022 15:48:05 GMT -->

</html>