 {% extends template %}
{% block head %} {% block stylesheet %} {{ parent() }}{% endblock %} {% endblock %}
{% block body %}
    {% block con %}    {{ parent() }} {% endblock %}
   

    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Post</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Post</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Mes Posts</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-form">
                        <form action="#">
                            <input type="text" placeholder="Enter Keywords">
                            <button><i data-feather="search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
          <button class="btn float-right btn-success font15"> <a style="color:white" href="{{path("app_post_new")}}">Créer</a></button>

        <div class="row no-gliters">
            <div class="col">
                <div class="dashboard-container">
                    <div class="dashboard-content-wrapper">
                                {% for p in posts %}
                                <div class="job-list">
                                        <a href="#">
                                            <img src="{{ asset('Upload/')}}{{ p.image }}" width="50%" alt="">
                                        </a>
                                    <div class="body">
                                        <div class="content">
                                            <h4><a href="job-details.html" style="text-align: center !important;">{{ p.description}} </a></h4>
                                            <div class="info">
                                            </div>
                                        </div>
                                        <div class="more">

                                                <a href="{{ path('post_delete', {'id': p.idPost}) }}" class="button" >Delete</a><br><br>
                                                <a href="{{ path('app_post_edit', {'idPost': p.idPost}) }}" class="button">Update</a>

                                            <p class="deadline"> Date: {{ p.dateP ? p.dateP|date('Y-m-d') : '' }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                             </div>
                    {% block sidebar %}    {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block action %} {{ parent() }} {% endblock %}
    {% block footer %} {{ parent() }} {% endblock %}




{% endblock %}