{% extends 'back.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>DateP</th>
                <th>Description</th>
                <th>User</th>
                <th>Etat</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.dateP ? post.dateP|date('Y-m-d') : '' }}</td>
                <td>{{ post.description }}</td>
                <td> {{ post.idUser.userName }} </td>
                <td> {{ post.etat }} </td>
                <td>
                    <img src="{{ asset('Upload/')}}{{ post.image }}" width="100" alt="">

                </td>
                <td>
                   {% if  post.etat == "acceptée" %}
                  <a href="{{ path('app_commentaire_index', {'id': post.idPost}) }}" class="btn btn-primary" >Details   </a><br>
                   {% elseif  post.etat == "acceptée" or post.etat == "refusée"  %}
                   {% else %}
                  <a href="{{ path('post_refuser', {'id': post.idPost}) }}" class="btn btn-primary" >Refuser</a><br>
                  <a href="{{ path('post_accepter', {'id': post.idPost}) }}" class="btn btn-success">Accepter</a>
                   {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {{ knp_pagination_render(posts) }}

{% endblock %}
